<html>
    <head>
        <title>Complex Adaptive Systems</title>
    </head>
    <body>
        <p>
            <b><!--#@dir--></b>
        </p>
        <ul>
            <li><a href="/<!--#@dir.split('/')[0...-1].join('/')-->">..</a></li>
            <!--#
                dirs = []
                files = []
                @dir += '/' unless @dir.empty?
                Dir.glob("#{@dir}*").each do |f|
                    (File.directory?(f) ? dirs : files).push(f)
                end
                ((dirs.sort.map { |d| "#{d}/" }) + files.sort).map do |f|
                    "<li><a href=\"/#{f}\">#{f}</a></li>"
                end.join
            -->
        </ul>
    </body>
</html>
